
AoC/bin/Debug/net7.0/AoC.deps.json
AoC/bin/Debug/net7.0/AoC.dll
AoC/bin/Debug/net7.0/AoC.exe
AoC/bin/Debug/net7.0/AoC.pdb
AoC/bin/Debug/net7.0/AoC.runtimeconfig.json
AoC/obj/AoC.csproj.nuget.dgspec.json
AoC/obj/AoC.csproj.nuget.g.props
AoC/obj/AoC.csproj.nuget.g.targets
AoC/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AoC/obj/Debug/net7.0/_IsIncrementalBuild
AoC/obj/Debug/net7.0/AoC.AssemblyInfo.cs
AoC/obj/Debug/net7.0/AoC.AssemblyInfoInputs.cache
AoC/obj/Debug/net7.0/AoC.assets.cache
AoC/obj/Debug/net7.0/AoC.csproj.AssemblyReference.cache
AoC/obj/Debug/net7.0/AoC.csproj.BuildWithSkipAnalyzers
AoC/obj/Debug/net7.0/AoC.csproj.CoreCompileInputs.cache
AoC/obj/Debug/net7.0/AoC.csproj.FileListAbsolute.txt
AoC/obj/Debug/net7.0/AoC.dll
AoC/obj/Debug/net7.0/AoC.GeneratedMSBuildEditorConfig.editorconfig
AoC/obj/Debug/net7.0/AoC.genruntimeconfig.cache
AoC/obj/Debug/net7.0/AoC.GlobalUsings.g.cs
AoC/obj/Debug/net7.0/AoC.pdb
AoC/obj/Debug/net7.0/apphost.exe
AoC/obj/Debug/net7.0/ref/AoC.dll
AoC/obj/Debug/net7.0/refint/AoC.dll
AoC/obj/project.assets.json
AoC/obj/project.nuget.cache
